name: Publish package to NPM and Git registry

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build and upload
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.x"
      - name: Install dependencies
        run: npm install
      - name: Build
        run: |
          rm -rf dist
          npm run prepare
      - name: Upload dist
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist

  release:
    name: Download dist and release
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.x"
      - name: Install dependencies
        run: npm install
      - name: Download dist
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist
      - name: Display dirs
        run: ls -R
      - uses: Klemensas/action-autotag@1.2.3
        id: update_tag
        with:
          GITHUB_TOKEN: "${{ secrets.PKG_TOKEN }}"
          tag_prefix: "v"
      - name: Release
        if: steps.update_tag.outputs.tagname
        id: release-plugin
        uses: JS-DevTools/npm-publish@v2.2.0
        with:
          token: ${{ secrets.TYPES_GENERATOR_AUTOMATION }}
          strategy: upgrade
      - name: GitHub Release
        if: steps.update_tag.outputs.tagname
        id: github-release
        env:
          GITHUB_TOKEN: ${{ secrets.PKG_TOKEN }}
          VERSION: ${{ steps.release-plugin.outputs.version }}
        run: gh release create "v$VERSION" --title "Release $VERSION" --generate-notes
